.app {
  /* width: 100%; */
  display: flex;
  margin: 0 2rem;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 13rem;
  gap: 2rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

table {
  border-collapse: separate;
  border-spacing: 30px 0; /* First value is the horizontal spacing, second is the vertical */
  text-align: left;
}

td {
  max-width: 12rem;
}

.cover-img {
  width: 43.75%;
}

.genres {
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: left;
  flex-wrap: wrap;
}
