.app {
  display: flex;
  gap: 2rem;
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
}

td {
  text-align: center;
  max-width: 24rem;
}

.genres {
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: center;
}
